nav {
  background-color: #a9c3c4;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 0px;
  height: 10vh;
  z-index: 1000;
}
nav a {
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.logo {
  align-items: center;
  margin-top: -7px;
  width: 70px;
}
h3 {
  display: inline;
  color: #efdee4;
  font-family: "Reem Kufi", sans-serif;
}
#LastNav {
  background-color: #efdee4;
  border: 2px solid #efdee4;
  box-sizing: border-box;
}
#LastNav:hover {
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
